---
title: A pgae for you
layout: base.njk
---

<div class = "container">
    <h1 class="heading">Good Vibes</h1>
    <div class="vibe">Everything is going to be okay!</div>
    <div class="love">🤩</div>

    <ul>
    {% for article in news.articles %}
        <li>
            <h2><a href="{{ article.url }}">{{ article.title }}</a></h2>
            <span>{{ article.source.name}} - <time>{{ article.publishedAt }}</time></span>
            </li>
    {% endfor %}
    </ul>
</div>
 <script src="./js/vibe.js"></script>